<div class="product container" *ngIf="product$ | async as product">
  <div class="product-details">
    <div class="product-image">
      <img [src]="product.images?.[activeItem]" [alt]="product.title" />
      <div class="product-image-gallery" *ngIf="product.images.length > 1">
        <carousel
          [items]="product.images"
          [template]="productImage"
          (onChangeItem)="onChangeItem($event)"
        ></carousel>
        <ng-template #productImage let-image="item">
          <img [src]="image" />
        </ng-template>
        <div *ngFor="let image of product.images"></div>
      </div>
    </div>
    <div class="product-info">
      <div class="product-name">{{ product.title }}</div>
      <div class="product-availability">
        <div class="product-price">{{ product.variants?.[0]?.price }}</div>
        <div class="product-stock">
          Availability:
          <span class="product-stock--status">{{
            product.variants?.[0]?.stockStatus
          }}</span>
        </div>
      </div>
      <div class="product-meta">
        <div class="product-code">
          Product Code:
          <span class="product-meta-value">{{
            product.variants?.[0]?.code
          }}</span>
        </div>
        <div class="product-tags">
          Product Tags:
          <span *ngFor="let tag of product.tags" class="product-meta-value">{{
            tag
          }}</span>
        </div>
        <div class="product-category">
          Category:
          <span class="product-meta-value">{{ product.category }}</span>
        </div>
      </div>
      <div class="product-description">
        <div>{{ product.description }}</div>
        <div class="product-features">
          <div class="product-feature" *ngFor="let feature of product.features">
            <div class="product-feature-value">{{ feature }}</div>
          </div>
        </div>
      </div>

      <div class="product-variants">
        <div class="product-variants-selected" *ngIf="selectedVariant">
          <span>COLOR: {{ selectedVariant?.color }}</span>
          <span>Availability: {{ selectedVariant?.stockStatus }}</span>
        </div>
        <div class="product-variants-selector">
          <div *ngFor="let variant of product.variants">
            <div
              *ngIf="variant.color"
              (click)="selectVariant(variant)"
              class="product-variants-selector-color"
              [style.background-color]="variant.color"
            ></div>
          </div>
        </div>
      </div>

      <div class="product-variants">
        Select Size
        <div class="product-variants-selector">
          <div *ngFor="let variant of product.variants">
            <div
              *ngIf="variant.size"
              (click)="selectVariant(variant)"
              class="product-variants-selector-color"
            >
              {{ variant.size }}
            </div>
          </div>
        </div>
      </div>

      <div class="product-actions">
        <div class="product-quantity-selector">
          <app-button type="outline" onClick="updateQuantity('REMOVE')"
            >-</app-button
          >
          <app-button type="outline">{{ currQuantity }}</app-button>
          <app-button type="outline" onClick="updateQuantity('ADD')"
            >+</app-button
          >
        </div>
        <app-button type="primary" onClick="onAddToCart()">
          Add to cart
        </app-button>
        <app-button type="outline">
          <i class="fa fa-heart-o" aria-hidden="true"></i
        ></app-button>
        <app-button type="outline">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i
        ></app-button>
      </div>
    </div>
  </div>
  <div class="product-recommendations">
    <h4>
      <span class="product-recommendations__title">Related products</span>
    </h4>
    <div
      class="product-grids product-recommendations__products"
      *ngIf="similarProducts$ | async as similarProducts"
    >
      <product-grid
        class="product-grid"
        *ngFor="let similarProduct of similarProducts"
        [product]="similarProduct"
      >
      </product-grid>
    </div>
  </div>
</div>
