.banner-lg {
  position: relative;

  &-info {
    position: absolute;
    top: 0px;
    z-index: 1;
    height: 100%;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 40px;

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    button {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &-tile {
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 4em;
    }
  }

  &-desc {
    text-transform: uppercase;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }

    &::after,
    &::before {
      content: '';
      border: 1px solid;
      display: block;
      padding: 2px 0;
      border-right: 0;
      border-left: 0;
      margin: 20px 0;
    }
  }
}