.login-popup {
  &__heading {
    padding: 10px;
    border-bottom: 1px solid #d7d9db;
    background: #F5F5F5;
    margin: 0;
  }

  &__container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        height: 20px;
        padding: 0 10px;
      }
    }
  }

  &__sso {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid $border-color;
    position: relative;

    &__title {
      position: absolute;
      top: -8px;
      background: white;
      padding: 0 10px;
    }

    &__facebook,
    &__twitter {
      color: #FFFFFF;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      font-size: 0.8em;
     }

    &__facebook {
      background-color: #3c599f;
    }

    &__twitter {
      background-color: #1ec7fd;
    }
  }

  &__custom {
    &__field, &__remember {
      display: flex;
      align-items: center;
    }

    &__field {
      border: 1px solid $border-color;

      input {
        flex: 1;
        border: none;
      }

      i {
        width: 10%;
      }
    }

    &__btn {
      width: 120px;
      margin: auto;
      text-transform: uppercase;
    }
  }

  &__bottom {
    padding: 20px;
    border-top: 1px solid;

    button {
      width: 120px;
      margin: auto;
      text-transform: uppercase;
    }
  }
}