navbar { 
  padding: 0 !important;
}

.navbar {
  &__heading {
    display: block;
    background-color: $primary-color;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__menu, &__submenu {
    display: flex;
    justify-content: space-around;
    background-color: black;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    > a {
      flex: 1;
      color: $primary-color;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.2s;
      cursor: pointer;
      padding: 20px 0;
      position: relative;
      z-index: 9;

      &:hover {
        background-color: $primary-color;
        color: #FFF;
      }
    }
  }

  &__menu {
    @include media-breakpoint-down(md) {
      display: none;
    }

    &.show {
      display: flex;
    }
  }

  &__submenu {
    position: absolute;
    width: 100%;
    flex-direction: column;
    background-color: #000;
    top: 50px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    navbar {
      margin: unset;
    }

    .navbar__heading {
      display: none;
    }
  }

  &__icon {
    i {
      margin-right: 3px;
      color: darkgrey;
    }
  }

  &__submenu &__menu {
    flex-direction: column;
  }

  &__submenu &__menu &__submenu {
    left: 100%;
    top: 0px;
  }
}