<div class="header">
  <div>
    <div class="header__top">
      <div class="header__top__container container">
        <div class="header__data">
          <div>
            <span> English French </span>
            <span> USD EUR </span>
          </div>
          <div>
            <span class="header__contact__number">
              <i class="fa fa-phone"></i>
              + 1 (800) 2364 332 23 16
            </span>
            <span class="header__contact__email">
              <i class="fa fa-envelope-o"></i> your@email.com</span
            >
          </div>
        </div>
        <div class="header__actions">
          <ng-container *ngIf="currentUser$ | async as user; else login">
            <span>{{ user.name }}</span>
            <span (click)="logout()">Logout</span>
          </ng-container>
          <ng-template #login>
            <span (click)="toggleLoginPopup($event)">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Login
              <ng-container *ngIf="loginPopup">
                <popover (hide)="hidePopup()">
                  <login-popup></login-popup>
                </popover>
              </ng-container>
            </span>
          </ng-template>
          <span><i class="fa fa-heart-o" aria-hidden="true"></i> Wishlist</span>
          <span><i class="fa fa-random" aria-hidden="true"></i> Compare</span>
        </div>
      </div>
    </div>
    <div class="header__main container">
      <search></search>
      <a [routerLink]="'/'">
        <img src="https://shop.azelab.com/images/logo.svg" />
      </a>
      <div class="cart">
        <i class="fa fa-shopping-bag"></i>
        2 item(s) / $230.00
      </div>
    </div>
  </div>
  <div class="header__nav">
    <navbar></navbar>
  </div>
</div>
